<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="redisson.dao.OrderMapper">
	<resultMap id="BaseResultMap"
		type="redisson.bean.po.Order">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="order_no" jdbcType="VARCHAR" property="orderNo" />
		<result column="entrust_id" jdbcType="VARCHAR"
			property="entrustId" />
		<result column="entrust_no" jdbcType="VARCHAR"
			property="entrustNo" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="member_id" jdbcType="VARCHAR"
			property="memberId" />
		<result column="other_user_id" jdbcType="VARCHAR"
			property="otherUserId" />
		<result column="other_member_id" jdbcType="VARCHAR"
			property="otherMemberId" />
		<result column="cycle" jdbcType="INTEGER" property="cycle" />
		<result column="pawn_coin_id" jdbcType="VARCHAR"
			property="pawnCoinId" />
		<result column="pawn_coin_eunit" jdbcType="VARCHAR"
			property="pawnCoinEunit" />
		<result column="pawn_quantity" jdbcType="DECIMAL"
			property="pawnQuantity" />
		<result column="pawn_rate" jdbcType="DECIMAL"
			property="pawnRate" />
		<result column="legal_coin_id" jdbcType="VARCHAR"
			property="legalCoinId" />
		<result column="legal_coin_eunit" jdbcType="VARCHAR"
			property="legalCoinEunit" />
		<result column="legal_quantity" jdbcType="DECIMAL"
			property="legalQuantity" />
		<result column="legal_daily_rate" jdbcType="DECIMAL"
			property="legalDailyRate" />
		<result column="warn_price" jdbcType="DECIMAL"
			property="warnPrice" />
		<result column="close_price" jdbcType="DECIMAL"
			property="closePrice" />
		<result column="fee" jdbcType="DECIMAL" property="fee" />
		<result column="already_interest_count" jdbcType="INTEGER"
			property="alreadyInterestCount" />
		<result column="daily_interest" jdbcType="DECIMAL"
			property="dailyInterest" />
		<result column="already_interest" jdbcType="DECIMAL"
			property="alreadyInterest" />
		<result column="total_interest" jdbcType="DECIMAL"
			property="totalInterest" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="direction" jdbcType="INTEGER"
			property="direction" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="create_time" jdbcType="TIMESTAMP"
				property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP"
				property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
		id, order_no, entrust_id, entrust_no, user_id, member_id, other_user_id,
		other_member_id,
		cycle, pawn_coin_id, pawn_coin_eunit, pawn_quantity, pawn_rate,
		legal_coin_id, legal_coin_eunit,
		legal_quantity, legal_daily_rate, warn_price, close_price, fee,
		already_interest_count,
		daily_interest, already_interest, total_interest, type, direction, status,
		create_time,
		update_time
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from `order`
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from `order`
		where id = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert"
		parameterType="redisson.bean.po.Order">
		insert into `order` (id, order_no, entrust_id,
		entrust_no, user_id, member_id,
		other_user_id, other_member_id, cycle,
		pawn_coin_id, pawn_coin_eunit, pawn_quantity,
		pawn_rate, legal_coin_id, legal_coin_eunit,
		legal_quantity, legal_daily_rate, warn_price,
		close_price, fee, already_interest_count,
		daily_interest, already_interest, total_interest,
		type, direction, status,
		create_time, update_time)
		values (#{id,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR},
		#{entrustId,jdbcType=VARCHAR},
		#{entrustNo,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR},
		#{otherUserId,jdbcType=VARCHAR}, #{otherMemberId,jdbcType=VARCHAR},
		#{cycle,jdbcType=INTEGER},
		#{pawnCoinId,jdbcType=VARCHAR}, #{pawnCoinEunit,jdbcType=VARCHAR}, #{pawnQuantity,jdbcType=DECIMAL},
		#{pawnRate,jdbcType=DECIMAL}, #{legalCoinId,jdbcType=VARCHAR},
		#{legalCoinEunit,jdbcType=VARCHAR},
		#{legalQuantity,jdbcType=DECIMAL}, #{legalDailyRate,jdbcType=DECIMAL}, #{warnPrice,jdbcType=DECIMAL},
		#{closePrice,jdbcType=DECIMAL}, #{fee,jdbcType=DECIMAL},
		#{alreadyInterestCount,jdbcType=INTEGER},
		#{dailyInterest,jdbcType=DECIMAL},
		#{alreadyInterest,jdbcType=DECIMAL},
		#{totalInterest,jdbcType=DECIMAL},
		#{type,jdbcType=INTEGER}, #{direction,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
	</insert>

	<insert id="insertSelective"
		parameterType="redisson.bean.po.Order">
		insert into `order`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="orderNo != null">
				order_no,
			</if>
			<if test="entrustId != null">
				entrust_id,
			</if>
			<if test="entrustNo != null">
				entrust_no,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="memberId != null">
				member_id,
			</if>
			<if test="otherUserId != null">
				other_user_id,
			</if>
			<if test="otherMemberId != null">
				other_member_id,
			</if>
			<if test="cycle != null">
				cycle,
			</if>
			<if test="pawnCoinId != null">
				pawn_coin_id,
			</if>
			<if test="pawnCoinEunit != null">
				pawn_coin_eunit,
			</if>
			<if test="pawnQuantity != null">
				pawn_quantity,
			</if>
			<if test="pawnRate != null">
				pawn_rate,
			</if>
			<if test="legalCoinId != null">
				legal_coin_id,
			</if>
			<if test="legalCoinEunit != null">
				legal_coin_eunit,
			</if>
			<if test="legalQuantity != null">
				legal_quantity,
			</if>
			<if test="legalDailyRate != null">
				legal_daily_rate,
			</if>
			<if test="warnPrice != null">
				warn_price,
			</if>
			<if test="closePrice != null">
				close_price,
			</if>
			<if test="fee != null">
				fee,
			</if>
			<if test="alreadyInterestCount != null">
				already_interest_count,
			</if>
			<if test="dailyInterest != null">
				daily_interest,
			</if>
			<if test="alreadyInterest != null">
				already_interest,
			</if>
			<if test="totalInterest != null">
				total_interest,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="direction != null">
				direction,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="orderNo != null">
				#{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="entrustId != null">
				#{entrustId,jdbcType=VARCHAR},
			</if>
			<if test="entrustNo != null">
				#{entrustNo,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="memberId != null">
				#{memberId,jdbcType=VARCHAR},
			</if>
			<if test="otherUserId != null">
				#{otherUserId,jdbcType=VARCHAR},
			</if>
			<if test="otherMemberId != null">
				#{otherMemberId,jdbcType=VARCHAR},
			</if>
			<if test="cycle != null">
				#{cycle,jdbcType=INTEGER},
			</if>
			<if test="pawnCoinId != null">
				#{pawnCoinId,jdbcType=VARCHAR},
			</if>
			<if test="pawnCoinEunit != null">
				#{pawnCoinEunit,jdbcType=VARCHAR},
			</if>
			<if test="pawnQuantity != null">
				#{pawnQuantity,jdbcType=DECIMAL},
			</if>
			<if test="pawnRate != null">
				#{pawnRate,jdbcType=DECIMAL},
			</if>
			<if test="legalCoinId != null">
				#{legalCoinId,jdbcType=VARCHAR},
			</if>
			<if test="legalCoinEunit != null">
				#{legalCoinEunit,jdbcType=VARCHAR},
			</if>
			<if test="legalQuantity != null">
				#{legalQuantity,jdbcType=DECIMAL},
			</if>
			<if test="legalDailyRate != null">
				#{legalDailyRate,jdbcType=DECIMAL},
			</if>
			<if test="warnPrice != null">
				#{warnPrice,jdbcType=DECIMAL},
			</if>
			<if test="closePrice != null">
				#{closePrice,jdbcType=DECIMAL},
			</if>
			<if test="fee != null">
				#{fee,jdbcType=DECIMAL},
			</if>
			<if test="alreadyInterestCount != null">
				#{alreadyInterestCount,jdbcType=INTEGER},
			</if>
			<if test="dailyInterest != null">
				#{dailyInterest,jdbcType=DECIMAL},
			</if>
			<if test="alreadyInterest != null">
				#{alreadyInterest,jdbcType=DECIMAL},
			</if>
			<if test="totalInterest != null">
				#{totalInterest,jdbcType=DECIMAL},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="direction != null">
				#{direction,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective"
		parameterType="redisson.bean.po.Order">
		update `order`
		<set>
			<if test="orderNo != null">
				order_no = #{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="entrustId != null">
				entrust_id = #{entrustId,jdbcType=VARCHAR},
			</if>
			<if test="entrustNo != null">
				entrust_no = #{entrustNo,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="memberId != null">
				member_id = #{memberId,jdbcType=VARCHAR},
			</if>
			<if test="otherUserId != null">
				other_user_id = #{otherUserId,jdbcType=VARCHAR},
			</if>
			<if test="otherMemberId != null">
				other_member_id = #{otherMemberId,jdbcType=VARCHAR},
			</if>
			<if test="cycle != null">
				cycle = #{cycle,jdbcType=INTEGER},
			</if>
			<if test="pawnCoinId != null">
				pawn_coin_id = #{pawnCoinId,jdbcType=VARCHAR},
			</if>
			<if test="pawnCoinEunit != null">
				pawn_coin_eunit = #{pawnCoinEunit,jdbcType=VARCHAR},
			</if>
			<if test="pawnQuantity != null">
				pawn_quantity = #{pawnQuantity,jdbcType=DECIMAL},
			</if>
			<if test="pawnRate != null">
				pawn_rate = #{pawnRate,jdbcType=DECIMAL},
			</if>
			<if test="legalCoinId != null">
				legal_coin_id = #{legalCoinId,jdbcType=VARCHAR},
			</if>
			<if test="legalCoinEunit != null">
				legal_coin_eunit = #{legalCoinEunit,jdbcType=VARCHAR},
			</if>
			<if test="legalQuantity != null">
				legal_quantity = #{legalQuantity,jdbcType=DECIMAL},
			</if>
			<if test="legalDailyRate != null">
				legal_daily_rate = #{legalDailyRate,jdbcType=DECIMAL},
			</if>
			<if test="warnPrice != null">
				warn_price = #{warnPrice,jdbcType=DECIMAL},
			</if>
			<if test="closePrice != null">
				close_price = #{closePrice,jdbcType=DECIMAL},
			</if>
			<if test="fee != null">
				fee = #{fee,jdbcType=DECIMAL},
			</if>
			<if test="alreadyInterestCount != null">
				already_interest_count = #{alreadyInterestCount,jdbcType=INTEGER},
			</if>
			<if test="dailyInterest != null">
				daily_interest = #{dailyInterest,jdbcType=DECIMAL},
			</if>
			<if test="alreadyInterest != null">
				already_interest = #{alreadyInterest,jdbcType=DECIMAL},
			</if>
			<if test="totalInterest != null">
				total_interest = #{totalInterest,jdbcType=DECIMAL},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="direction != null">
				direction = #{direction,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKey"
		parameterType="redisson.bean.po.Order">
		update `order`
		set order_no = #{orderNo,jdbcType=VARCHAR},
		entrust_id = #{entrustId,jdbcType=VARCHAR},
		entrust_no = #{entrustNo,jdbcType=VARCHAR},
		user_id = #{userId,jdbcType=VARCHAR},
		member_id = #{memberId,jdbcType=VARCHAR},
		other_user_id = #{otherUserId,jdbcType=VARCHAR},
		other_member_id = #{otherMemberId,jdbcType=VARCHAR},
		cycle = #{cycle,jdbcType=INTEGER},
		pawn_coin_id = #{pawnCoinId,jdbcType=VARCHAR},
		pawn_coin_eunit = #{pawnCoinEunit,jdbcType=VARCHAR},
		pawn_quantity = #{pawnQuantity,jdbcType=DECIMAL},
		pawn_rate = #{pawnRate,jdbcType=DECIMAL},
		legal_coin_id = #{legalCoinId,jdbcType=VARCHAR},
		legal_coin_eunit = #{legalCoinEunit,jdbcType=VARCHAR},
		legal_quantity = #{legalQuantity,jdbcType=DECIMAL},
		legal_daily_rate = #{legalDailyRate,jdbcType=DECIMAL},
		warn_price = #{warnPrice,jdbcType=DECIMAL},
		close_price = #{closePrice,jdbcType=DECIMAL},
		fee = #{fee,jdbcType=DECIMAL},
		already_interest_count = #{alreadyInterestCount,jdbcType=INTEGER},
		daily_interest = #{dailyInterest,jdbcType=DECIMAL},
		already_interest = #{alreadyInterest,jdbcType=DECIMAL},
		total_interest = #{totalInterest,jdbcType=DECIMAL},
		type = #{type,jdbcType=INTEGER},
		direction = #{direction,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<select id="selectByPawnOrder" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from `order`
		where user_id = #{userId,jdbcType=VARCHAR}
		and type = 1
		<if test="pawnCoinId != null">
			and pawn_coin_id = #{pawnCoinId,jdbcType=VARCHAR}
		</if>
		<if test="startTime != null">
			and create_time &gt;= #{startTime,jdbcType=VARCHAR}
		</if>
		<if test="endTime != null">
			and create_time &lt;= #{endTime,jdbcType=VARCHAR}
		</if>
		order by create_time desc
	</select>
</mapper>